	body{
		width: 98.5%

	}
#rr{
	color:  black;
	padding-top: 5px;
	font-weight: bold;
	margin-left: 10px;
}
#rr2{
	color: blue;
	/*padding-bottom: 5px;*/
	
}

#dd{
color: #8B0000
}

.box{
	position: fixed;
	top: 0;
	background: #778899;
	background: #708090;
	text-align: center;
	width: 100%;
	box-shadow: 1px 1px 10px black;
}
.mes{
	margin-top: 155px;
	

}
label,h1,p{
	color: white;
	padding-left: 10px
}
form{
	padding-bottom: 5px
}
.message{
	width: 50%;
	margin:auto;
	background: #DCDCDC;
	background: #A9A9A9;
}
body{margin: 0;
	padding: 0;
	background: #D3D3D3
}

#button{
	background: 	#6A5ACD;
	color: white;
	border: 1px solid black;
	font-size: 110%;
	
}
#button:hover{
	background: red;
	cursor: pointer;


}
#main{
color:white;
text-decoration: none;
text-shadow: 1px 1px 1px black;
}