*{
 margin: 0;
 padding: 0;
}
body{
  color: #fff;
  background: #000;
  font-family: 'Open Sans', sans-serif;
 
}

.header{
position: absolute;
top: 0;
left: 0;
z-index: 123;
width: 100%
}

.header h1{
  margin-top: 50px;
  text-align: center;
}



.owl-carousel{

}

.box{
  padding-top: 200px;
  width: 100%;
  height: 600px;
  margin: auto;
 /* display: none*/
/*border: 3px solid green*/
}

.box_back1{    
 
    background: url(../img/1.jpg) center;
    background-size: cover;
}

.box_back2{
        background: url(../img/2.jpg) center;
    background-size:  cover;
}

.box_back3{
        background: url(../img/3.jpg) center;
    background-size:  cover;
}
.box_back4{
        background: url(../img/4.jpg) center;
    background-size:  cover;
}

.box p{
    font-size: 30px;
    padding: 20px;

}
.text_block{
    max-width: 1000px;
    margin: auto;
    border: 1px solid #fff;
 /*   margin-left: 10px;
    margin-right: 10px*/

}

.panel{
  display: flex;
 /* justify-content: center;*/
  color: #999;
  font-size: 20px;
  padding-bottom: 20px;
  margin-left: 30px;
}
.panel button{
  margin-left: 15px;
  background: black;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 3px;
  padding: 10px;
  font-size: 20px;
}
.panel button:hover{
  cursor: pointer;
}

.box-photo{
  display: none;
 margin:auto;
 max-width: 1050px;
 margin-top: 5%
}
.box-video{
 display: none;
 margin:auto;
 max-width: 1050px;
 margin-top: 5%
}
.owl_2 img{
  width: 100% !important;
}
.owl_3 iframe{
 width: 100% !important;
  height: 500px !important;
}

.owl-nav button span{
  font-size: 40px
}
.owl-nav button{
outline: none;
}
 button:hover{
color: #999 !important
}
.owl-next{
  margin-left: 20px;
  border: 1px solid #fff;

}
.box-contacts{
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: auto;
  margin-top: 100px;
}
.contacts-text{
  width: 500px;
  border: 1px solid #fff;
  font-size: 30px;
  padding: 20px
}
.schedule{
  width: 500px;
  border: 1px solid #fff;
  padding: 20px;
  font-size: 25px
}

@media(max-width: 919px){
.box-contacts{
flex-direction: column;
max-width: 462px !important;
margin: 50px auto
}
.contacts-text{
margin-bottom: 20px;
}
}

@media(max-width: 1069px){
.owl-prev{
  margin-left: 20px
}
}

@media(max-width: 1124px){
.contacts-text{
  width: 400px;
   font-size: 25px;

}
.schedule{
  width: 400px;
  font-size: 20px
}
.box-contacts{
  width: 900px;
}
}

@media(max-width: 1229px){
.box-contacts{
  max-width: 1100px;
}
}



@media(max-width: 1019px){
  .text_block{
 margin-left: 10px;
margin-right: 10px

}

}

@media(max-width: 499px){
.schedule{
  width: 320px;
  font-size: 15px
}
.contacts-text{
  width: 320px;
  font-size: 20px
}
.box-contacts{
  width: 320px;
}
}


@media(max-width: 460px){
  .panel{
flex-direction: column;
margin-left: 0;
align-items: center;
}
  .panel button{
width: 300px;
margin-left: 0;
margin-bottom: 10px
}
h1{
  font-size: 25px;


}

}
