*{
 margin: 0;
 padding: 0;
}

body{
  color: #fff;
  background: #000;
  font-family: 'Open Sans', sans-serif;
}

.header{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 123;
  width: 100%
}

.header h1{
  margin-top: 50px;
  text-align: center;
}

.box{
  padding-top: 200px;
  width: 100%;
  height: 600px;
  margin: auto;
}

.box_back1{    
  background: url(../img/1.jpg) center;
  background-size: cover;
}

.box_back2{
  background: url(../img/2.jpg) center;
  background-size:  cover;
}

.box_back3{
  background: url(../img/3.jpg) center;
  background-size:  cover;
}
.box_back4{
  background: url(../img/4.jpg) center;
  background-size:  cover;
}

.box_back5{
  background: url(../img/5.jpg) center;
  background-size:  cover;
}


.box p{
  font-size: 30px;
  padding: 20px;

}
.text_block{
  max-width: 1000px;
  margin: auto;
  border: 1px solid #fff;
}

.text_block p{
	text-shadow: 1px 1px 2px black
}

.panel{
  display: flex;
  color: #999;
  font-size: 20px;
  padding-bottom: 20px;
  margin-left: 30px;
}
.panel button{
  margin-left: 15px;
  background: black;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 3px;
  padding: 10px;
  font-size: 20px;
  width: 100px;
}
.panel button:hover{
  cursor: pointer;
}

.box_photo{
  display: none;
  margin:auto;
  max-width: 1050px;
  margin-top: 5%
}
.box_video{
  display: none;
  margin:auto;
  max-width: 1050px;
  margin-top: 5%
}
.owl_2 img{
  width: 100% !important;
}
.owl_3 iframe{
  width: 100% !important;
  height: 500px !important;
}

.owl-nav button span{
  font-size: 40px
}
.owl-nav button{
  outline: none;
}
 button:hover{
  color: #999 !important
}
.owl-next{
  margin-left: 20px;
  border: 1px solid #fff;

}
.box_contacts{
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  margin: auto;
  margin-top: 100px;
  gap: 20px;
}
.contacts_text{
  width: 500px;
  border: 1px solid #fff;
  font-size: 30px;
  padding: 20px;
  box-sizing: border-box;
}
.schedule{
  width: 500px;
  border: 1px solid #fff;
  padding: 20px;
  font-size: 28px;
  box-sizing: border-box;
}

.contacts_title{
  color: #999999;
  margin-bottom: 10px;
}

.contacts_body{
  font-size: 24px;
}

@media(max-width: 1368px){
  .box{
    height: 460px
  }
  .box_photo{
  max-width: 850px;
  }
  .box_video{
  max-width: 850px;

  }
  .owl_3 iframe{
    height: 470px !important;
  }
}

@media(max-width: 1229px){
  .box_contacts{
    max-width: 1100px;
  }
}

@media(max-width: 1124px){
  .contacts_text{
    width: 400px;
  }
  .schedule{
    width: 400px;
  }
  .box_contacts{
    width: 900px;
  }
  .contacts_title{
    font-size: 24px;
  }
  .contacts_body{
    font-size: 22px;
  }
}

@media(max-width: 1069px){
  .owl-prev{
    margin-left: 20px
  }
}

@media(max-width: 1019px){
  .text_block{
    margin-left: 10px;
    margin-right: 10px
  }
}

@media(max-width: 919px){
  .box_contacts{
    flex-direction: column;
    max-width: 462px !important;
    margin: 50px auto
}
}

@media(max-height: 680px){
  .box{
    height: 330px
  } 
  .box_photo{
  max-width: 700px;
  }
  .box_video{
  max-width: 700px;
  }
  .owl_3 iframe{
    height: 400px !important;
  }
}

@media(max-width: 499px){
  .schedule{
    width: 300px;
  }
  .contacts_text{
    width: 300px;
  }
  .box_contacts{
    width: 300px;
  }
}


@media(max-width: 460px){
  .panel{
    flex-direction: column;
    margin-left: 0;
    align-items: center;
  }
  .panel button{
    width: 300px;
    margin-left: 0;
    margin-bottom: 10px
  }
  .header h1{
    margin-top: 30px;
    font-size: 25px;
  }
  .box{
    padding-top: 110px;
    height: 340px;
  }
  .box p{
    font-size: 20px
  }
  .owl_3 iframe{
    max-height: 200px;
  }
}


